<%= render partial: 'layouts/notifications' %>

<section>
  <h1>Net Worth</h1>
  <small>Sum of the latest account statements</small>
  <h2><%= humanized_money_with_symbol @net_worth %></h2>

  <%= area_chart net_worth_graph_path, colors: ["rgba(72, 199, 116, 0.55)"], prefix: "$", thousands: ",", spanGaps: true, messages: {empty: "No statements recorded."} %>
</section>

<section>
  <h2>Account Balances</h2>
  <br>

  <% if @accounts.empty? %>
    <p>No existing accounts. Create one!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Latest Statement</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
          <td><%= link_to account.name, account %></td>
          <% if account.statements.order(:date).last %>
            <% if account.statements.order(:date).last.balance >= 0 %>
              <td><span><%= humanized_money_with_symbol account.statements.order(:date).last.balance %></span></td>
            <% else %>
              <td><span><%= humanized_money_with_symbol account.statements.order(:date).last.balance %></span></td>
            <% end %>
            <td><%= account.statements.order(:date).last.date.to_formatted_s(:long) %></td>
          <% else %>
            <td><i>No recorded statements</i></td>
            <td></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<section>
  <h1>Transactions</h1>

  <h2>Income</h2>
  <p>Where your money comes from</p>
  <%= pie_chart yearly_income_pie_chart_path, prefix: "$", messages: {empty: "No income transactions recorded."} %>

  <h2>Expenses</h2>
  <p>Where your money is being spent</p>
  <%= pie_chart yearly_expenses_pie_chart_path, prefix: "$", messages: {empty: "No expense transactions recorded."} %>

  <h2>Yearly Overview</h2>
  <table>
    <thead>
      <tr>
        <th><%= Time.now.year %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Income</td>
        <td><%= humanized_money_with_symbol @yearly_income %></td>
      </tr>
      <tr>
        <td>Expenses</td>
        <td><%= humanized_money_with_symbol @yearly_expenses %></td>
      </tr>
      <% if @rent_to_income_percentage %>
        <tr>
          <td>Rent to Income Percentage</td>
          <td><%= @rent_to_income_percentage %>%</td>
        </tr>
      <% end %>
      <tr>
        <td>Savings</td>
        <td><%= humanized_money_with_symbol @yearly_saved %></td>
      </tr>
      <tr>
        <td>Investments</td>
        <td><%= humanized_money_with_symbol @yearly_invested %></td>
      </tr>
      <tr>
        <td>Dividends</td>
        <td><%= humanized_money_with_symbol @yearly_dividends %></td>
      </tr>
      <tr>
        <td>Interest Earnings</td>
        <td><%= humanized_money_with_symbol @yearly_interest %></td>
      </tr>
    </tbody>
  </table>

  <br>

  <% if @transactions.empty? %>
    <p>You don't have any transactions. Add some!</p>
  <% else %>
    <h2>Yearly Expenses by Category</h2>
    <% @transactions_by_category_per_year.keys.each do |year| %>
    <table>
      <thead>
        <tr>
          <th><%= year %></th>
        </tr>
      </thead>
      <tbody>
        <% @transactions_by_category_per_year[year].each do |category, amount| %>
          <tr>
          <td><%= category %></td>
          <td><span><%= humanized_money_with_symbol amount %></span></td>
          </tr>
        <% end %>
    <% end %>
      </tbody>
    </table>
  <% end %>
</section>
