<section>
  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.text_field :name, autofocus: true, placeholder: 'Name', autocomplete: "name", class: '' %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", class: '' %>
      <%= f.password_field :password, placeholder: "Password (#{@minimum_password_length} characters minimum)", autocomplete: "new-password", class: '' %>
      <%= f.password_field :password_confirmation, placeholder: 'Repeat Password', autocomplete: "new-password", class: '' %>
      <%= f.submit "Sign up", class: '' %>
  <% end %>
</section>
