<section>
  <%= render partial: 'layouts/notifications' %>

  <nav aria-label="breadcrumbs">
    <ul>
      <li><%= link_to 'All Dividends', dividends_path %></li>
      <li><a href="#" aria-current="page"><%= @dividend.ticker %> <%= @dividend.date %></a></li>
    </ul>
  </nav>

  <h1>Dividend</h1>

  <%= link_to edit_dividend_path, class: '' do %><button>Edit Dividend</button><% end %>
  <%= link_to dividend_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this dividend?", class: '' } do %>
    <button>Delete Dividend</button>
  <% end %>

  <p>Amount: <%= @dividend.amount %></p>
  <p>Date: <%= @dividend.date %></p>
  <p>Ticker: <%= @dividend.ticker %></p>
  <p><a href="https://www.nasdaq.com/market-activity/stocks/<%= @dividend.ticker %>">View on Nasdaq</a></p>

  <p>Total dividends gained from <%= @dividend.ticker %> this year</p>
  <%= humanized_money_with_symbol @total_dividends_this_year %>

  <p>All <%= @dividend.ticker%> dividends this year</p>
    <% if @dividends.empty? %>
    <p>No existing dividends.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Date</th>
          <th>Ticker</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @dividends.sorted_by_date.each do |dividend| %>
          <tr>
            <td><%= humanized_money_with_symbol dividend.amount %></td>
            <td><%= dividend.date %></td>
            <td><%= dividend.ticker %></td>
            <td>
              <%= link_to dividend_path(dividend.id), class: '' do %>View<% end %>
            </td>
            <td>
              <%= link_to edit_dividend_path(dividend.id), class: '' do %>Edit<% end %>
            </td>
            <td>
              <%= link_to dividend_path(dividend.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this dividend?", class: ''} do %>Delete<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
</section>
