<section class="section">
  <div class="container">
    <h1 class="title">Add Statement</h1>

    <%= render partial: 'layouts/notifications' %>

    <%= form_with model: @statement, url: {controller: 'statements', action: 'update'} do |f| %>
      <div class="field">
        <%= f.label :balance %>
        <div class="control">
          <%= f.number_field :balance, step: 0.01, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :date %>
        <div class="control">
          <%= f.date_field :date, class: 'input' %>
        </div>
      </div>

      <div class="control">
        <%= f.submit "Add", class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</section>
