<section class="section">
  <div class="container">
    <h1 class="title">Edit Statement</h1>

    <%= render partial: 'layouts/notifications' %>

		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Accounts', accounts_path %></li>
        <li><%= link_to "#{@account.name}", account_path(@account) %></li>
				<li class="is-active"><a href="#" aria-current="page">Edit Statement</a></li>
			</ul>
		</nav>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <%= form_with model: @statement, url: {controller: 'statements', action: 'update'} do |f| %>
            <div class="field">
              <%= f.label :balance %>
              <div class="control">
                <%= f.number_field :balance, step: 0.01, class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :date %>
              <div class="control">
                <%= f.date_field :date, class: 'input' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :notes %>
              <div class="control">
                <%= f.text_field :notes, class: 'input' %>
              </div>
            </div>

            <div class="control">
              <%= f.submit "Update", class: 'button is-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
