<section>
  <%= render partial: 'layouts/notifications' %>

  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><%= link_to "#{@account.name}", account_path(@account) %></li>
      <li><a href="#" aria-current="page">Add Statement</a></li>
    </ul>
  </div>

  <%= form_with model: @statement, url: {controller: 'statements', action: 'create'} do |f| %>
    <%= f.label :balance %>
    <%= f.number_field :balance, step: 0.01, class: 'input input-bordered' %>
    <%= f.label :date %>
    <%= f.date_field :date, value: "#{Time.now.strftime('%Y-%m-%d')}", class: 'input input-bordered' %>
    <%= f.label :notes %>
    <%= f.text_field :notes, class: 'input input-bordered' %>
    <%= f.submit "Add", class: 'btn btn-neutral' %>
  <% end %>
</section>
