<section>
  <%= render partial: 'layouts/notifications' %>

  <nav aria-label="breadcrumbs">
    <ul>
      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><%= link_to "#{@account.name}", account_path(@account) %></li>
      <li><a href="#" aria-current="page">Add Statement</a></li>
    </ul>
  </nav>

  <h1>Add Statement</h1>

  <%= form_with model: @statement, url: {controller: 'statements', action: 'create'} do |f| %>
    <%= f.label :balance %>
    <%= f.number_field :balance, step: 0.01, class: '' %>
    <%= f.label :date %>
    <%= f.date_field :date, class: '' %>
    <%= f.label :notes %>
    <%= f.text_field :notes, class: '' %>
    <%= f.submit "Add", class: '' %>
  <% end %>
</section>
