<section class="section is-small">
  <div class="container">
    <h1 class="title">Hello, <span class="is-capitalized"><%= @user.name %></span></h1>
    <h2 class="subtitle">Your finances at a glance:</h2>
  </div>
</section>

<section class="section is-medium has-background-black">
  <div class="container">
    <h1 class="title has-text-white">Net Worth</h1>
    <nav class="level has-text-white">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Net Worth Today</p>
          <p class="title has-text-white"><%= number_to_currency(@net_worth, delimiter: ",") %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">+/- Previous Month</p>
          <% if @net_worth_change > 0 %>
            <p class="title has-text-success">+<%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% elsif @net_worth_change < 0 %>
            <p class="title has-text-danger"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% else %>
            <p class="title"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% end %>
        </div>
      </div>
    </nav>

    <%= area_chart net_worth_graph_path, colors: ["rgba(72, 199, 116, 0.65)"], prefix: "$", thousands: ",", spanGaps: true, messages: {empty: "No statements recorded."} %>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <h1 class="title">Expenses This Month</h1>
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Expenses This Month</p>
          <p class="title"><%= number_to_currency(@expenses_this_month, delimeter: ",") %></p>
        </div>
      </div>
    </nav>

    <%= pie_chart expenses_pie_chart_path, title: "Expenses by Category", prefix: "$", thousands: ",", messages: {empty: "No expenses recorded."} %>
  </div>
</section>

<section class="section is-medium has-background-black">
  <div class="container">
    <h1 class="title has-text-white">Spending Trends</h1>
    <%= column_chart expenses_column_chart_path, prefix: "$", thousands: ",", messages: {empty: "No expenses recorded."} %>
  </div>
</section>
