<section class="section">
  <div class="container">
    <h1 class="title">Hello, <span class="is-capitalized"><%= @user.name %></span></h1>
    <h2 class="subtitle">Your finances at a glance:</h2>

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Net Worth Today (In the future, subtract debt from worth)</p>
          <p class="title"><%= number_to_currency(@net_worth, delimiter: ",") %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">+/- Previous Month</p>
          <% if @net_worth_change > 0 %>
            <p class="title has-text-success">+<%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% elsif @net_worth_change < 0 %>
            <p class="title has-text-danger"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% else %>
            <p class="title"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% end %>
        </div>
      </div>
    </nav>

    <%= area_chart @net_worth_graph, colors: ["rgba(72, 199, 116, 0.65)"], prefix: "$", thousands: ",", spanGaps: true, messages: {empty: "No statements recorded."}, title: "Net Worth" %>

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Expenses This Month</p>
          <p class="title has-text-danger"><%= number_to_currency(@expenses_this_month, delimeter: ",") %></p>
        </div>
      </div>
    </nav>

    <%= pie_chart @expenses_by_category, title: "Expenses by Category", prefix: "$", thousands: ",", messages: {empty: "No expenses recorded."} %>

    <%= column_chart @expenses_month_to_month, title: "Expenses Month to Month", prefix: "$", thousands: ",", messages: {empty: "No expenses recorded."} %>


    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Remaining Debt</p>
          <p class="title has-text-danger">$1422.40</p>
        </div>
      </div>
    </nav>

    <%# show an area graph for this just like net worth %>
  </div>
</section>