<section class="section">
  <div class="container">
    <h1 class="title">Hello, <span class="is-capitalized"><%= @user.name %></span></h1>
    <h2 class="subtitle">Your finances at a glance:</h2>

    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Net Worth Today (In the future, subtract debt from worth)</p>
          <p class="title"><%= number_to_currency(@net_worth, delimiter: ",") %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">+/- Previous Month</p>
          <% if @net_worth_change > 0 %>
            <p class="title has-text-success">+<%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% elsif @net_worth_change < 0 %>
            <p class="title has-text-danger"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% else %>
            <p class="title"><%= number_to_currency(@net_worth_change, delimiter: ",") %></p>
          <% end %>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Debt</p>
          <p class="title has-text-danger">-$456.40</p>
        </div>
      </div>
    </nav>

    <%= 
      area_chart @net_worth_graph,
      code: true,
      colors: ["rgba(72, 199, 116, 0.65)"], 
      prefix: "$",
      thousands: ",",
      # points: false,
      # discrete: true, 
      spanGaps: true, 
      messages: {empty: "No statements recorded."},
      title: "Net Worth"
    %>

    <%= pie_chart @expenses %>
  </div>
</section>