<section class="section">
  <div class="container">
    <h1 class="title">Edit Tracker</h1>

    <%= render partial: 'layouts/notifications' %>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Expense Trackers', expense_trackers_path %></li>
        <li><%= link_to "#{@expense_tracker.category}", expense_tracker_path(@expense_tracker) %></li>
        <li class="is-active"><a href="#" aria-current="page">Edit Expense Tracker</a></li>
      </ul>
    </nav>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <%= form_with model: @expense_tracker do |f| %>
            <div class="field">
              <%= f.label :category %>
              <div class="control">
                <%= f.text_field :category, autofocus: true, autocomplete: "category", class: 'input' %>
              </div>
            </div>

            <div class="control">
              <%= f.submit "Update", class: 'button is-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
