<section class="section">
  <div class="container">

    <%= render partial: 'layouts/notifications' %>

    <nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Expense Trackers', expense_trackers_path %></li>
				<li class="is-active"><a href="#" aria-current="page"><%= @expense_tracker.category %></a></li>
			</ul>
		</nav>

    <h1 class="title"><%= @expense_tracker.category %></h1>
		<%= link_to 'Add Expense', new_expense_tracker_expense_path(expense_tracker_id: @expense_tracker.id), class: 'button is-link' %>
    <%= link_to 'Edit', edit_expense_tracker_path, class: 'button is-link' %>

		<% unless @expenses.empty? %>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr> 
          <th>Amount</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
			<% @expenses.each do |expense| %>
				<tr>
					<td class="has-text-success"><%= number_to_currency(expense.amount, delimiter: ",") %></td>
					<td><%= expense.date.to_formatted_s(:long) %></td>
					<td><%= link_to 'Edit', edit_expense_tracker_expense_path(expense_tracker_id: @expense_tracker.id, id: expense), class: 'button is-small is-rounded' %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
  </div>
</section>