<div class="container">
<%= render partial: 'layouts/notifications' %>
  <h1 class="">Log in</h1>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),  html: { class: '' }) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", class: '' %>
    <br>
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "new-password", class: '' %>

    <% if devise_mapping.rememberable? %>
      <br>
      <%= f.check_box :remember_me, class: '' %>
      <%= f.label :remember_me, class: '' %>
    <% end %>

    <%= f.submit "Log in", class: '' %>
  <% end %>
  <br>
  <p>Or <span class=""><%= link_to('Sign Up', new_user_registration_path, class: '') %></span></p>
</div>
