<div class="container">
<h1>Categories</h1>

  <%= render partial: 'layouts/notifications' %>

  <small>Categories to be assigned to transactions.</small>
  <br><br>
  <%= link_to 'Add a Category', new_category_path, class: 'btn btn-neutral' %>
  <br><br>

  <% if @categories.empty? %>
    <p>No existing categories. Create one!</p>
  <% else %>
    <table class="table table-zebra table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
          <td><%= link_to category.name, category %> [<%= category.transactions.count %>]</td>
          <td><%= category.color %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
