<section>
    <%= render partial: 'layouts/notifications' %>

    <nav aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Categories', categories_path %></li>
        <li><a href="#" aria-current="page">Add Category</a></li>
      </ul>
    </nav>

    <h1>Add Category</h1>
    <%= form_with model: @category do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: '' %>
      <%= f.label :color %>
      <%= f.color_field :color, value: '#FFFFFF' %>
      <%= f.submit "Add", class: '' %>
    <% end %>
</section>
