<div class="container">

<%= render partial: 'layouts/notifications' %>

<small>Create transactions here. Your dashboard will populate once you have transactions.</small>
<br><br>

<%= link_to 'Create a Transaction', new_transaction_path, class: 'btn btn-neutral' %>
<%= link_to 'Download All Transactions as JSON', transactions_download_path, class: 'btn btn-neutral', download: 'transactions.json' %>

<br><br>

<%= form_with url: transactions_import_path, method: :post do |form| %>
  <%= form.label :csv, "", class: 'form-control w-full max-w-xs' do %>
      <div class="label">
        <span class="label-text">Import Transactions from CSV</span>
      </div>
      <%= form.file_field :csv, class: "form-control file-input file-input-bordered w-full max-w-xs" %>
  <% end %>
  <br>
  <%= form.label :import_from, "", class: 'form-control w-full max-w-xs' do %>
      <div class="label">
        <span class="label-text">Kind of CSV you are importing</span>
      </div>
      <%= form.select(:import_from, ["Apple Card", "Copilot Money"], {},  class: 'form-control select select-bordered w-full max-w-xs' ) %>
  <% end %>
  <%= form.submit "Import", class: 'btn btn-neutral' %>
<% end %>

<br>

<%= form_tag transactions_path, method: :get do %>
    <%= select_tag :year, options_for_select(@years_for_switcher, @selected_year), include_blank: false, class: 'select select-accent' %>
    <%= submit_tag "Filter by year", class: 'btn btn-neutral' %>
<% end %>

<% if @transactions.empty? %>
  <p>No existing transactions for <%= Time.zone.now.year %>. Create one!</p>
<% else %>
  <% @transactions.each do |month, transactions| %>
    <div class="divider divider-accent"><%= month.strftime("%B %Y") %></div>

    <div class="container mx-auto">
        <div class="stats">
            <div class="stat place-items-center">
            <div class="stat-title">Monthly Income</div>
            <div class="stat-value text-success"><%= humanized_money_with_symbol @monthly_income[month] %></div>
            </div>

            <div class="stat place-items-center">
            <div class="stat-title">Monthly Expenses</div>
            <div class="stat-value text-error"><%= humanized_money_with_symbol @monthly_expenses[month] %></div>
            </div>

            <div class="stat place-items-center">
            <div class="stat-title">Transactions</div>
            <div class="stat-value"><%= transactions.count %></div>
            </div>
        </div>
    </div>

    <table class="table table-zebra table-pin-rows table-sm">
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Notes</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      <% transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.merchant %></td>
        <td><%= humanized_money_with_symbol transaction.amount %></td>
        <% if transaction.category %>
        <td><div class="badge badge-outline bg-neutral badge-sm" style="color:<%= transaction.category.color %>;"><%= transaction.category.name %></div></td>
        <% else %>
        <td>(uncategorized)</td>
        <% end %>
        <td><%= transaction.date.strftime("%Y-%m-%d") %></td>
        <td><%= transaction.notes %></td>
        <td>
          <%= link_to edit_transaction_path(transaction.id), class: '' do %>Edit<% end %>
          <%= link_to transaction_path(transaction.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this transaction?", class: ''} do %>Delete<% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <br><hr><br>
  <% end %>
<% end %>
</div>
