<section>
  <%= render partial: 'layouts/notifications' %>

  <br><br>

  <h1>Transactions</h1>
  <%= link_to 'Create Transaction', new_transaction_path, class: '' %> |
  <%= link_to 'Download Transactions as JSON', transactions_download_path, class: '' %>
  <br><br>

  <% if @transactions.empty? %>
    <p>No existing transactions. Create one!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Notes</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.sorted_by_date.each do |transaction| %>
          <tr>
            <td><%= transaction.category %></td>
            <td><%= transaction.date %></td>
            <% if transaction.category. == "Income" %>
              <td style='color: #5AC33B'><%= humanized_money_with_symbol transaction.amount %></td>
            <% elsif transaction.category. == "Savings" %>
              <td style='color: cyan'><%= humanized_money_with_symbol transaction.amount %></td>
            <% elsif transaction.category. == "Investing" %>
              <td style='color: cyan'><%= humanized_money_with_symbol transaction.amount %></td>
            <% else %>
              <td style='color: red'><%= humanized_money_with_symbol transaction.amount %></td>
            <% end %>
            <td><%= transaction.notes %></td>
            <td>
              <%= link_to edit_transaction_path(transaction.id), class: '' do %>Edit<% end %>
            </td>
            <td>
              <%= link_to transaction_path(transaction.id), method: :delete, data: {confirm: "Are you sure you want to delete this transaction?"}, class: '' do %>Delete<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>