
  <%= render partial: 'layouts/notifications' %>

  <nav aria-label="breadcrumbs">
    <ul>
      <li><%= link_to 'Transactions', transactions_path %></li>
      <li><a href="#" aria-current="page">Create Transaction</a></li>
    </ul>
  </nav>

  <h1>Create Transaction</h1>

  <%= form_with model: @transaction do |f| %>
    <%= f.label :merchant %>
    <br>
    <%= f.text_field :merchant, autofocus: true, autocomplete: "merchant", class: 'form-field' %>
    <br>
    <%= f.label :amount %>
    <br>
    <%= f.text_field :amount, autofocus: true, class: 'form-field' %>
    <br>
    <%= f.label :category %>
    <br>
    <%= f.text_field :category, autofocus: true, autocomplete: "category", class: 'form-field' %>
    <br>
    <%= f.label :date %>
    <br>
    <%= f.date_field :date, autofocus: true, autocomplete: "date", value: "#{Time.now.strftime('%Y-%m-%d')}", class: 'form-field' %>
    <br>
    <%= f.label :notes %>
    <br>
    <%= f.text_field :notes, autofocus: true, class: 'form-field' %>
    <br>
    <%= f.submit "Add", class: '' %>
  <% end %>
