<section>
  <div>
    <%= render partial: 'layouts/notifications' %>

    <nav aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Transactions', transactions_path %></li>
        <li><a href="#" aria-current="page">Create Transaction</a></li>
      </ul>
    </nav>

    <h1>Create Transaction</h1>


    <%= form_with model: @transaction do |f| %>
        <%= f.label :category %>
        <%= f.text_field :category, autofocus: true, autocomplete: "category", class: '' %>
        <%= f.label :date %>
        <%= f.date_field :date, autofocus: true, autocomplete: "date", class: '' %>
        <%= f.label :amount %>
        <%= f.text_field :amount, autofocus: true, class: '' %>
        <%= f.label :notes %>
        <%= f.text_field :notes, autofocus: true, class: '' %>

        <%= f.submit "Add", class: '' %>
    <% end %>
  </div>
</section>
