<section class="section">
  <div class="container">
    <h1 class="title">Add Expense</h1>

    <%= render partial: 'layouts/notifications' %>

    <nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Expense Trackers', expense_trackers_path %></li>
        <li><%= link_to "#{@expense_tracker.category}", expense_tracker_path(@expense_tracker) %></li>
        <li class="is-active"><a href="#" aria-current="page">Edit Expense</a></li>
			</ul>
		</nav>

    <div class="box">
      <%= form_with model: @expense, url: {controller: 'expenses', action: 'update'} do |f| %>
        <div class="field">
          <%= f.label :amount %>
          <div class="control">
            <%= f.number_field :amount, step: 0.01, class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :date %>
          <div class="control">
            <%= f.date_field :date, class: 'input' %>
          </div>
        </div>

        <div class="control">
          <%= f.submit "Add", class: 'button is-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</section>