<nav>
<% if user_signed_in? %>
<div>
  <div>
    <%= link_to 'dashboard', dashboard_path %>
    <%= link_to 'accounts', accounts_path %>
    <%= link_to 'transactions', transactions_path %>
    <%= link_to 'categories', categories_path %>
  </div>
  <div>
    <%= link_to 'logout', destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</div>
<% else %>
<div>
  <div></div>
</div>
<% end %>
</nav>
