<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> %>
      <%= inline_svg_tag("currency-dollar.svg", size: '80*40') %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: 'navbar-item has-text-black' %>
      <%= link_to 'About', about_path, class: 'navbar-item has-text-black' %>
      <% if user_signed_in? %>
        <%= link_to 'Dashboard', dashboard_path, class: 'navbar-item has-text-black' %>
        <%= link_to 'Accounts', accounts_path, class: 'navbar-item has-text-black' %>
        <%= link_to 'Expense Trackers', expense_trackers_path, class: 'navbar-item has-text-black' %>
        <p class="navbar-item"><em>Debt Tracker (Coming Soon)</em></p>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-item has-text-black') %>   
      <% else %>
        <%= link_to('Sign Up', new_user_registration_path, class: 'navbar-item has-text-black')  %>
        <%= link_to('Login', new_user_session_path, class: 'navbar-item has-text-black') %>  
      <% end %>
    </div>
  </div>
</nav>