<!DOCTYPE html>
<html>
  <head>
    <title>Personal Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_importmap_tags %>

    <%= debugbar_head  if defined? Debugbar %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <%= yield %>

    <% if Rails.env.development? %>
        <%= debugbar_body if defined? Debugbar %>
    <% end %>
  </body>
</html>
