
  <%= render partial: 'layouts/notifications' %>

  <nav aria-label="breadcrumbs">
    <ul>
      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><%= link_to "#{@account.name}", account_path(@account) %></li>
      <li><a href="#" aria-current="page">Edit Account</a></li>
    </ul>
  </nav>

  <h1>Edit Account</h1>

  <%= form_with model: @account do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: '' %>
    <%= f.submit "Update", class: '' %>
  <% end %>

