<h1><i>Accounts</i></h1>

<section>
  <%= render partial: 'layouts/notifications' %>

  <small>Create accounts and then then create statements to keep track of balances periodically. Statements are aggregated to calculate net worth in the dashboard.</small>
  <br><br>
  <%= link_to 'Add an Account', new_account_path, class: '' %>
  <%= link_to 'Download All Statements as JSON', statements_download_path, class: '' %>
  <br><br>

  <% if @accounts.empty? %>
    <p>No existing accounts. Create one!</p>
  <% else %>
    <p style="font-size: 1.5rem;">Net Worth: <span style="color: limegreen;"><%= humanized_money_with_symbol @net_worth %></span></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Latest Statement</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
          <td><%= link_to account.name, account %></td>
          <% if account.statements.order(:date).last %>
            <td><span><%= humanized_money_with_symbol account.statements.order(:date).last.balance %></span></td>
            <td><%= account.statements.order(:date).last.date.to_formatted_s(:long) %></td>
          <% else %>
            <td><i>No recorded statements</i></td>
            <td></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
