<section class="section">
  <div class="container">
  
    <%= render partial: 'layouts/notifications' %>

    <h1 class="title">Accounts</h1>
    <%= link_to 'Add Account', new_account_path, class: 'button is-link' %>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr> 
          <th>Name</th>
          <th>Last Statement</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      <% if @accounts.empty? %>
        <tr><td>No existing accounts. <%= link_to 'Create an account.', '/accounts/new'%></td></tr>
      <% else %>
        <% @accounts.each do |account| %>
          <tr>
          <td><%= link_to account.name, account %></td>
          <% if account.statements.last %>
            <td><span class="has-text-success"><%= number_to_currency(account.statements.last.balance, delimiter: ",") %></span></td>
            <td><%= account.statements.last.date %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>