<div class="container">
  <%= render partial: 'layouts/notifications' %>
</div>

<section class="section is-small has-background-black">
  <div class="container">
    <h1 class="title has-text-white">Net Worth</h1>

    <%= area_chart net_worth_graph_path, colors: ["rgba(72, 199, 116, 0.65)"], prefix: "$", thousands: ",", spanGaps: true, messages: {empty: "No statements recorded."} %>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Accounts</h1>
    <%= link_to 'Add Account', new_account_path, class: 'button is-link' %>
    <br><br>

    <% if @accounts.empty? %>
      <p class="notification is-info">No existing accounts. Create one!</p>
    <% else %>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Latest Statement</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr>
            <td><%= link_to account.name, account %></td>
            <% if account.statements.order(:date).last %>
              <td><span class="has-text-success"><%= humanized_money_with_symbol account.statements.order(:date).last.balance %></span></td>
              <td><%= account.statements.order(:date).last.date.to_formatted_s(:long) %></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>
