<section class="section">
  <div class="container">
    <h1 class="title">Accounts</h1>
    <h2 class="subtitle">
      Total Net Worth: <span class="has-text-success">$<%= @net_worth %></span>
    </h2>

    <table class="table is-striped is-hoverable is-fullwidth is-size-5">
      <thead>
        <tr> 
          <th>Name</th>
          <th>Last Statement</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% if @accounts.empty? %>
          <td>No existing accounts. <%= link_to 'Create an account.', '/accounts/new'%></td>
        <% else %>
          <% @accounts.each do |account| %>
            <td><%= link_to account.name, account %></td>
            <% if account.statements.last %>
              <td>Last statement: <span class="has-text-success">$<%= account.statements.last.balance %></span></td>
              <td><%= account.statements.last.date %></td>
            <% end %>
          <% end %>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<%# 
area_chart @net_worth, 
prefix: "$",
# points: false,
# discrete: true, 
spanGaps: true, 
messages: {empty: "No statements recorded."},
title: "Net Worth"
%>