<h1>Hello <%= @user.name %>.</h1>
<h2>Here are your accounts.</h2>

<p>Total Net Worth: $<%= @net_worth %></p>

<%# 
area_chart @net_worth, 
prefix: "$",
# points: false,
# discrete: true, 
spanGaps: true, 
messages: {empty: "No statements recorded."},
title: "Net Worth"
%>

<p>Your accounts:</p>

<% if @accounts.empty? %>
 <p>No existing accounts. Create one.</p>
<% else %>
  <ul>
  <% @accounts.each do |account| %>
    <li><%= link_to account.name, account %></li>
    <% if account.statements.last %>
	    <li>Last statement: <%= account.statements.last.balance %> | <%= account.statements.last.date %> </li>
    <% end %>
    <br>
  <% end %>
  </ul>
<% end %>

<hr>
<%= link_to 'Add Account', '/accounts/new'%>

