<section class="section">
  <div class="container">
    <h1 class="title">Accounts</h1>
    <h2 class="subtitle">
      Total Net Worth: <span class="has-text-success">$<%= @net_worth %></span>
    </h2>
    <%= link_to 'Add Account', new_account_path, class: 'button is-link' %>

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr> 
          <th>Name</th>
          <th>Last Statement</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      <% if @accounts.empty? %>
        <tr><td>No existing accounts. <%= link_to 'Create an account.', '/accounts/new'%></td></tr>
      <% else %>
        <% @accounts.each do |account| %>
          <tr>
          <td><%= link_to account.name, account %></td>
          <% if account.statements.last %>
            <td>Last statement: <span class="has-text-success">$<%= account.statements.last.balance %></span></td>
            <td><%= account.statements.last.date %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>

<%# 
area_chart @net_worth, 
prefix: "$",
# points: false,
# discrete: true, 
spanGaps: true, 
messages: {empty: "No statements recorded."},
title: "Net Worth"
%>