<p>Net Worth Dashboard</p>

Hello <%= current_user.name %>!

<%= line_chart @net_worth %>

<p>Your accounts:</p>

<% if @accounts.empty? %>
 <p>No existing accounts. Create one.</p>
<% else %>
  <ul>
  <% @accounts.each do |account| %>
    <li><%= link_to account.name, account %></li>
    <% if account.statements.last %>
	    <li>Last statement: <%= account.statements.last.balance %> | <%= account.statements.last.date %> </li>
    <% end %>
    <br>
  <% end %>
  </ul>
<% end %>

<hr>
<%= link_to 'Add Account', '/accounts/new'%>

