<section>
  <div>
    <%= render partial: 'layouts/notifications' %>

    <nav aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Accounts', accounts_path %></li>
        <li><a href="#" aria-current="page">Add Account</a></li>
      </ul>
    </nav>

    <h1>Add Account</h1>

    <div>
      <div>
        <div>
          <%= form_with model: @account do |f| %>
            <div>
              <%= f.label :name %>
              <div>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: '' %>
              </div>
            </div>

            <div>
              <%= f.submit "Add", class: '' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
