<section>
  <%= render partial: 'layouts/notifications' %>

  <div>
    <ul>
      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><a href="#" aria-current="page">Add Account</a></li>
    </ul>
  </div>

  <%= form_with model: @account do |f| %>
    <%= f.label :name, class: '' %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: '' %>
    <%= f.submit "Add Account", class: '' %>
  <% end %>
</section>
