<section class="section">
  <div class="container">

	  <%= render partial: 'layouts/notifications' %>
		
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Accounts', accounts_path %></li>
				<li class="is-active"><a href="#" aria-current="page"><%= @account.name %></a></li>
			</ul>
		</nav>

    <h1 class="title"><%= @account.name %></h1>

		<% if @user.has_statement_this_month?(@account)%>
			<%= button_tag disabled: true, class: 'button is-link'  do %>
				<span class="icon">
					<%= inline_svg_tag("check.svg", size: '30 * 30') %>
				</span>
				<p>Monthly Statement Added!</p>
			<% end %>
		<% else %>
			<%= link_to new_account_statement_path(account_id: @account.id), class: 'button is-link' do %>
				<span class="icon">
					<%= inline_svg_tag("plus.svg", size: '30 * 30') %>
				</span>
				<p>Add Statement</p>
			<% end %>
		<% end %>

    <%= link_to edit_account_path, class: 'button is-link' do %>
			<span class="icon">
				<%= inline_svg_tag("cog.svg", size: '30 * 30') %>
			</span>
			<p>Edit</p>
		<% end %>

		<%= link_to account_path, method: :delete, class: 'button is-danger', data: {confirm: "Are you sure you want to delete this account?: #{@account.name}"} do %>
			<span class="icon">
				<%= inline_svg_tag("trash.svg", size: '30 * 30') %>
			</span>
			<p>Delete</p>
		<% end %>


		<% unless @statements.empty? %>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Balance</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
			<% @statements.order('date DESC').each do |statement| %>
				<tr>
					<td class="has-text-success"><%= humanized_money_with_symbol statement.balance %></td>
					<td><%= statement.date.to_formatted_s(:long) %></td>
					<td><%= link_to 'Edit', edit_account_statement_path(account_id: @account.id, id: statement), class: 'button is-small is-rounded' %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</section>