<div class="container">
  <%= render partial: 'layouts/notifications' %>

  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Accounts', accounts_path %></li>
      <li><a href="#" aria-current="page"><%= @account.name %></a></li>
    </ul>
  </div>

  <%= link_to new_account_statement_path(account_id: @account.id), class: 'btn btn-neutral' do %>
    <button>Add Statement</button>
  <% end %>

  <%= link_to edit_account_path, class: 'btn btn-neutral' do %>
    <button>Edit Account Name</button>
  <% end %>

  <%= link_to account_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this account?: #{@account.name}" }, class: 'btn btn-neutral' do %>
    <button>Delete Account</button>
  <% end %>

  <%= line_chart single_account_graph_path(account_id: @account.id) %>

  <% unless @statements.empty? %>
  <br><br>
  <h2>Statements</h2>
  <table class="table table-zebra table-sm">
    <thead>
      <tr>
        <th>Latest Statement Balance</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @statements.order('date DESC').each do |statement| %>
      <tr>
        <% if statement.balance > 0 %>
          <td><%= humanized_money_with_symbol statement.balance %></td>
        <% else %>
          <td><%= humanized_money_with_symbol statement.balance %></td>
        <% end %>
        <td><%= statement.date.to_formatted_s(:long) %></td>
        <td><%= statement.notes %></td>
        <td>
          <%= link_to 'Edit', edit_account_statement_path(account_id: @account.id, id: statement), class: '' %>
          <%= link_to 'Delete', account_statement_path(account_id: @account.id, id: statement), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: '' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>
