<section class="section">
  <div class="container">

	  <%= render partial: 'layouts/notifications' %>
		
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Accounts', accounts_path %></li>
				<li class="is-active"><a href="#" aria-current="page"><%= @account.name %></a></li>
			</ul>
		</nav>

    <h1 class="title"><%= @account.name %></h1>
		<%= link_to 'Add Statement', new_account_statement_path(account_id: @account.id), class: 'button is-link' %>
    <%= link_to 'Edit', edit_account_path, class: 'button is-link' %>

		<% unless @statements.empty? %>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Balance</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
			<% @statements.order('date DESC').each do |statement| %>
				<tr>
					<td class="has-text-success"><%= number_to_currency(statement.balance, delimiter: ",") %></td>
					<td><%= statement.date.to_formatted_s(:long) %></td>
					<td><%= link_to 'Edit', edit_account_statement_path(account_id: @account.id, id: statement), class: 'button is-small is-rounded' %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</section>