<section>
  <div>

	  <%= render partial: 'layouts/notifications' %>
		
		<nav aria-label="breadcrumbs">
			<ul>
				<li><%= link_to 'Accounts', accounts_path %></li>
				<li><a href="#" aria-current="page"><%= @account.name %></a></li>
			</ul>
		</nav>

    <h1><%= @account.name %></h1>

		<%= link_to new_account_statement_path(account_id: @account.id), class: '' do %>
			<span>
				<%= inline_svg_tag("plus.svg", size: '30 * 30') %>
			</span>
			<p>Add Statement</p>
		<% end %>

    <%= link_to edit_account_path, class: '' do %>
			<span>
				<%= inline_svg_tag("cog.svg", size: '30 * 30') %>
			</span>
			<p>Edit Account Name</p>
		<% end %>

		<%= link_to account_path, method: :delete, class: '', data: {confirm: "Are you sure you want to delete this account?: #{@account.name}"} do %>
			<span>
				<%= inline_svg_tag("trash.svg", size: '30 * 30') %>
			</span>
			<p>Delete Account</p>
		<% end %>

		<hr>

		<% unless @statements.empty? %>
		<br><br>
		<h2>Statements</h2>
    <table>
      <thead>
        <tr>
          <th>Balance</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
			<% @statements.order('date DESC').each do |statement| %>
				<tr>
					<% if statement.balance > 0 %>
						<td><%= humanized_money_with_symbol statement.balance %></td>
					<% else %>
						<td><%= humanized_money_with_symbol statement.balance %></td>
					<% end %>
					<td><%= statement.date.to_formatted_s(:long) %></td>
					<td>
						<%= link_to 'Edit', edit_account_statement_path(account_id: @account.id, id: statement), class: '' %>
						<%= link_to 'Delete', account_statement_path(account_id: @account.id, id: statement), method: :delete, data: {confirm: "Are you sure you want to delete this statment?"}, class: '' %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</section>